@import url('http://fonts.cdnfonts.com/css/roboto');

.wrapper {
    background: var(--fabric-background-primary);
    border: var(--fabric-border-primary) 1px solid;
    border-radius: 5px;
    padding: 4px;
    width: 100%;
    height: 500px;
    overflow: hidden;

    display: grid;
    align-items: flex-start;
}

.title {
    font-size: 1.1rem;
    color: var(--fabric-color-primary);
    text-align: left;
    font-weight: 600;
    margin: unset;
    padding: 0;
    height: fit-content;
    width: 100%;
    margin-bottom: 1rem;
}

.horizontalLabel {
    display: flex;
    align-items: center;
    justify-content: center;

    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-orientation: mixed;
    font-weight: 600;
    font-family: "Roboto";

}
.label {
    display: flex;
    align-items: center;
    justify-content: center;


    font-weight: 600;
    font-family: "Roboto";

}